.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
    color:#2f80ed;
    display: contents;
}

.khan__buy-link:hover {
    color: pink;
    text-decoration: underline;
}